GOOGLE_CLIENT_ID=173942255408-n0f38t72cdpfp92qutttcrk46rsecoti.apps.googleusercontent.com
GOOGLE_TOKEN_INFO_URL=https://oauth2.googleapis.com/tokeninfo
VITE_API_BASE_URL=http://localhost:8080/api/v1
VITE_GOOGLE_CLIENT_ID=173942255408-n0f38t72cdpfp92qutttcrk46rsecoti.apps.googleusercontent.com
